<footer class="bg-light text-center">
    <div class="container p-4">
        <div class="row gx-1 justify-content-md-center">
            <div class="col-md-4 align-self-center p-3">
                <p class="fw-bold">Server</p>
                <img src="/api/assets/expressjs.svg" alt="Express.js" width="200px">
            </div>
            <div class="col-md-4 align-self-center p-3">
                <p class="fw-bold">Deploys</p>
                <img src="/api/assets/vercel.svg" alt="Express.js" width="200px">
            </div>
            <div class="col-md-4 align-self-center p-3">
                <p className="fw-bold">Database operations</p>
                <img src="/api/assets/prisma.svg" alt="Prisma" width="200px">
            </div>
        </div>
    </div>
    <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.05)">
        © 2020 Copyright: IdolAPI, created by Hector Joel Luna
    </div>
</footer>