<header class="font01">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow border border-0" style="background-color: #111213">
        <div class="container-fluid container">
            <a class="navbar-brand fw-bold" href="/">IdolAPI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <i class="fa-solid fa-compass"></i>
            </button>
            <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Main menu</h5>
                    <button type="button" class="btn btn-danger btn-floating" data-bs-dismiss="offcanvas"
                        aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="offcanvas-body">
                <hr class="d-lg-none text-dark-50"></hr>
                    <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                        <li class="nav-item col-6 col-lg-auto">
                            <a class="nav-link py-2 px-0 px-lg-2" href="#">
                                <i class="fa-brands fa-github"></i>
                                <small class="d-lg-none ms-2">GitHub</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div style="padding-top: 3.5rem"></div>
</header>