body {
    background-color: #fdfeff;
}

.font02 {
    font-family: 'Manrope', sans-serif;
}

.font01 {
    font-family: 'Jost', sans-serif;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #e7e7e7;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}