<header class="fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark shadow border border-0 font02 bg-class">
        <div class="container-fluid container-xxl">
            <a class="navbar-brand fw-bold" href="/">
                <img src="/api/assets/idolapi.png" class="rounded-circle" width="33px">
                <span class="ms-2">IdolAPI</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="ri-layout-grid-fill"></i>
            </button>
            <div class="collapse navbar-collapse p-4 pt-0 p-md-0" id="navbarSupportedContent">

                <hr class="d-md-none text-white-50">
                <h5 class="d-md-none text-white">Main Menu</h5>

                <ul class="navbar-nav me-3 ms-auto mb-2 mb-md-0 flex-row flex-wrap bd-navbar-nav">
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link py-2 px-0 px-md-2" href="/docs">Documentation</a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link py-2 px-0 px-md-2" href="/about">About</a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link py-2 px-0 px-md-2" href="/support-us">Support</a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link py-2 px-0 px-md-2" href="/code-of-conduct">Code of conduct</a>
                    </li>
                </ul>

                <hr class="d-md-none text-white-50">
                <h5 class="d-md-none text-white">Git actions</h5>
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link py-2 px-0 px-md-2" href="https://github.com/JoelLuna02/idolapi" target="_blank" data-bs-toggle="tooltip" data-bs-title="View Project in github" data-bs-placement="bottom">
                                <i class="ri-github-line"></i>
                                <small class="d-md-none ms-2">View in GitHub</small>
                            </a>
                        </li>
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link py-2 px-0 px-md-2" href="https://github.com/JoelLuna02/idolapi/fork" target="_blank" data-bs-toggle="tooltip" data-bs-title="Fork repository" data-bs-placement="bottom">
                                <i class="ri-git-fork-line"></i>
                                <small class="d-md-none ms-2">Fork me</small>
                            </a>
                        </li>
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link py-2 px-0 px-md-2" href="https://github.com/JoelLuna02/idolapi/issues" target="_blank" data-bs-toggle="tooltip" data-bs-title="Create your issue" data-bs-placement="bottom">
                                <i class="ri-git-commit-line"></i>
                                <small class="d-md-none ms-2">issues</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div style="padding-top: 3.5rem"></div>